*.pyc
.cache
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/src/cryptoconditions-config.h
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*.[ao]
*~
converter-sample.c
config.*
.pytest_cache
