Source: zcash
Section: utils
Priority: optional
Maintainer: Electric Coin Company <team@electriccoin.co>
Homepage: https://z.cash
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/zcash/zcash.git
Vcs-Browser: https://github.com/zcash/zcash

Package: zcash
Architecture: amd64
Depends: ${shlibs:Depends}
Description: Zcash is HTTPS for money
 Initially based on Bitcoin's design, Zcash has been developed from
 the Zerocash protocol to offer a far higher standard of privacy and
 anonymity. It uses a sophisticated zero-knowledge proving scheme to
 preserve confidentiality and hide the connections between shielded
 transactions.
 This package provides the daemon, zcashd, and a CLI tool, zcash-cli,
 to interact with the daemon.
