*.tar.gz
*.deb
src/bitcoin
src/zcashd
src/zcash-cli
src/zcash-gtest
src/zcash-tx
src/test/test_bitcoin

*zcashTest.pk
*zcashTest.vk

# autoreconf
#Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
#configure
libtool
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
share/setup.nsi

cache/
venv-mnf/
src/univalue/gen

.deps
.dirstamp
.idea
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.zcash
*.a
*.pb.cc
*.pb.h
.vscode

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation
Makefile

# Unit-tests
Makefile.test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_bitcoin.coverage/
zcash-gtest.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

!src/leveldb*/Makefile

/doc/doxygen/

libzcashconsensus.pc

src/fiat/-usd
contrib/debian/files
contrib/debian/substvars

src/rpcmisc~.cpp
src/komodo-cli
src/komodod
src/komodo-tx
src/komodo-test
src/wallet-utility
src/komodo-cli.exe
src/komodod.exe
src/komodo-tx.exe

#output during builds, symbol tables?
*.dSYM


src/cryptoconditions/compile

src/cc/rogue/rogue

src/cc/rogue/rogue.so

src/cc/rogue/test.zip
src/cc/dapps/a.out
src/checkfile

src/foo.zip

src/log

src/rogue.530623577502174316.0

src/rogue.530623577502174316.pack

src/rogue.530623577502174316.player


src/cc/rogue/config.h

src/ROGUE.conf

src/rogue.scr

src/cc/rogue/confdefs.h
src/cc/rogue/x64

src/cc/dapps/a.out

Makefile.in
configure
doc/man/Makefile.in
src/Makefile.in
src/cc/libcc.so
src/libcc.so
