*.o
*.d
depinst/
depsrc/

libzerocash.a
libzerocash.so

zerocash_pour_ppzksnark/tests/test_zerocash_pour_ppzksnark
zerocash_pour_ppzksnark/profiling/profile_zerocash_pour_gadget
tests/zerocashTest
tests/merkleTest
tests/utilTest
libzerocash/GenerateParamsForFiles
zerocashTest-proving-key
zerocashTest-verification-key
