*.o
*.a
*.so
*.d
depinst/
depsrc/
README.html
doxygen/
src/gadgetlib2/examples/tutorial
src/gadgetlib2/tests/gadgetlib2_test

src/algebra/curves/tests/test_bilinearity
src/algebra/curves/tests/test_groups
src/algebra/fields/tests/test_fields
src/common/routing_algorithms/profiling/profile_routing_algorithms
src/common/routing_algorithms/tests/test_routing_algorithms
src/gadgetlib1/gadgets/cpu_checkers/fooram/examples/test_fooram
src/gadgetlib1/gadgets/hashes/knapsack/tests/test_knapsack_gadget
src/gadgetlib1/gadgets/hashes/sha256/tests/test_sha256_gadget
src/gadgetlib1/gadgets/merkle_tree/tests/test_merkle_tree_gadgets
src/gadgetlib1/gadgets/routing/profiling/profile_routing_gadgets
src/gadgetlib1/gadgets/set_commitment/tests/test_set_commitment_gadget
src/gadgetlib1/gadgets/verifiers/tests/test_r1cs_ppzksnark_verifier_gadget
src/reductions/ram_to_r1cs/examples/demo_arithmetization
src/relations/arithmetic_programs/qap/tests/test_qap
src/relations/arithmetic_programs/ssp/tests/test_ssp
src/zk_proof_systems/pcd/r1cs_pcd/r1cs_mp_ppzkpcd/profiling/profile_r1cs_mp_ppzkpcd
src/zk_proof_systems/pcd/r1cs_pcd/r1cs_mp_ppzkpcd/tests/test_r1cs_mp_ppzkpcd
src/zk_proof_systems/pcd/r1cs_pcd/r1cs_sp_ppzkpcd/profiling/profile_r1cs_sp_ppzkpcd
src/zk_proof_systems/pcd/r1cs_pcd/r1cs_sp_ppzkpcd/tests/test_r1cs_sp_ppzkpcd
src/zk_proof_systems/ppzkadsnark/r1cs_ppzkadsnark/examples/demo_r1cs_ppzkadsnark
src/zk_proof_systems/ppzksnark/bacs_ppzksnark/profiling/profile_bacs_ppzksnark
src/zk_proof_systems/ppzksnark/bacs_ppzksnark/tests/test_bacs_ppzksnark
src/zk_proof_systems/ppzksnark/r1cs_gg_ppzksnark/profiling/profile_r1cs_gg_ppzksnark
src/zk_proof_systems/ppzksnark/r1cs_gg_ppzksnark/tests/test_r1cs_gg_ppzksnark
src/zk_proof_systems/ppzksnark/r1cs_ppzksnark/profiling/profile_r1cs_ppzksnark
src/zk_proof_systems/ppzksnark/r1cs_ppzksnark/tests/test_r1cs_ppzksnark
src/zk_proof_systems/ppzksnark/ram_ppzksnark/examples/demo_ram_ppzksnark
src/zk_proof_systems/ppzksnark/ram_ppzksnark/examples/demo_ram_ppzksnark_generator
src/zk_proof_systems/ppzksnark/ram_ppzksnark/examples/demo_ram_ppzksnark_prover
src/zk_proof_systems/ppzksnark/ram_ppzksnark/examples/demo_ram_ppzksnark_verifier
src/zk_proof_systems/ppzksnark/ram_ppzksnark/profiling/profile_ram_ppzksnark
src/zk_proof_systems/ppzksnark/ram_ppzksnark/tests/test_ram_ppzksnark
src/zk_proof_systems/ppzksnark/tbcs_ppzksnark/profiling/profile_tbcs_ppzksnark
src/zk_proof_systems/ppzksnark/tbcs_ppzksnark/tests/test_tbcs_ppzksnark
src/zk_proof_systems/ppzksnark/uscs_ppzksnark/profiling/profile_uscs_ppzksnark
src/zk_proof_systems/ppzksnark/uscs_ppzksnark/tests/test_uscs_ppzksnark
src/zk_proof_systems/zksnark/ram_zksnark/profiling/profile_ram_zksnark
src/zk_proof_systems/zksnark/ram_zksnark/tests/test_ram_zksnark
